body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: grey;;
}

.center{
    display: block;
    margin: auto;
    text-align: center;
}

header{
    top: 0;
    position: fixed;
    display: flex;
    width: 100%;
    height: 72px;
    background-color: black;
}

.social{
    display: flex;
    justify-content: center;
}

.social img{
    width: 70px;
    height: 70px;
    margin: 10px;
    border-radius: 50%;
    background-color: black;
}

img.song{
    border-radius: 15%;
    max-width: 400px;
    width:50%;
    display: block;
    margin: auto;

}

div.song{
    background-color: gray;
}

/*big screen(default)*/
div.song_info{
    margin-left: 10%;
    margin-right:10%;
}

h2.inline, p.inline{
    display:inline;
}

/*big screen*/
@media screen and (min-width:900px){
    div.song_info{
    margin-left: 25%;
    margin-right: 25%;
    }
}


img.song{
    border-radius: 15%;
    max-width: 400px;
    width:50%;
    display: block;
    margin: auto;

}

div.song{
    background-color: gray;
}

/*big screen(default)*/
div.song_info{
    margin-left: 10%;
    margin-right:10%;
}

h2.inline, p.inline{
    display:inline;
}

/*big screen*/
@media screen and (min-width:900px){
    div.song_info{
    margin-left: 25%;
    margin-right: 25%;
    }
}


.offscreen{
    background-color: black;
    opacity: 80%;
    border-bottom-left-radius: 15px;
    height: auto;
    width: 100%;
    max-width: 250px;
    position: fixed;
    top: 0;
    right: -250px;
    display: flex;
    flex-direction: column;
    
    /*justify-content: center;
    align-items: center;
    text-align: center;*/
    transition: right 0.5s ease;
}

.offscreen.active{
    right: 0;
}

.offscreen ul{
    list-style: none;
    padding-top: 70px;
}

.offscreen ul li{
    padding: 10px;
    font-size: 20px;
    color: white;
}

.hamburger{
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
}

.hamburger span{
    height: 5px;
    width: 100%;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 12px;
    margin-left: -15px;
    transform: translate(-50%, -50%);
    transition: 0.5s ease;
}

.hamburger span:nth-child(1){
    top: 25%;
}

.hamburger span:nth-child(3){
    top: 75%;
}

.hamburger.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.hamburger.active span:nth-child(2){
    opacity: 0;
}
.hamburger.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  padding-left: 25px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}