/*
styling for about page
*/
#mainImg{
    width: 35%; 
    min-width: 250px; 
    height:auto; 
    border-radius: 50%; 
    object-fit: cover;
}
.about p{
    text-align:left;
}
#navMenu{
    height:70px;
}

.about{
    color: white;
    margin: 0 auto;
    padding: 0px 20px;
    width: 90%;
    border-radius: 50px;
    background-color: rgb(60, 60, 60);
    display: block;
}

body {
    background-image: url("../imgs/BandGlitchTall.png");
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    backdrop-filter: blur(5px);
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, .55);
}